<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Feedback Form</title>
    <link rel="stylesheet" href="{%static "css/demo3.css" %}">
</head>
<body>
<div class="container" align="center">
    <h1>Student Feedback Form</h1><hr>
<form class="" action="index.html" method="post">
    {{form.as_p}}
    {% csrf_token %}
    <input type="submit" class="btn btn-primary" value="Submit Feedback">
</form>
</div>
</body>
</html>